---
BasedOnStyle: Google
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations:
  Enabled: true
AllowShortCaseExpressionOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackParameters: OnePerLine
BreakBeforeBraces: Allman
ColumnLimit: 0
PointerAlignment: Right
SortIncludes:
  Enabled: false

