---
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations:
  Enabled: true
AllowShortCaseExpressionOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BasedOnStyle: Google
BinPackParameters: OnePerLine
BreakBeforeBraces: Allman
ColumnLimit: 0
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: ^<.*\.h>
    Priority: -1
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^"(\.\.\/|mydumper_|myloader_)?common.h"
    Priority: 0
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^"(\.\.\/)?logging.h"
    Priority: 1
    SortPriority: 2
    CaseSensitive: false
  - Regex: .*
    Priority: 1
    SortPriority: 1
    CaseSensitive: false
InsertNewlineAtEOF: true
PointerAlignment: Right
TabWidth: 4
