[mydumper_session_variables]
# wait_timeout = 300
# sql_mode = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

[mydumper_global_variables]
#sync_binlog = 0
#slow_query_log = OFF

[myloader_session_variables]
SQL_MODE='NO_AUTO_VALUE_ON_ZERO' /*!40101
UNIQUE_CHECKS=0 /*!40114
FOREIGN_KEY_CHECKS=0 /*!40114
sync_binlog = 0
innodb_flush_log_at_trx_commit = 0

[myloader_session_variables_mariadb_10_6]
SQL_MODE='NO_AUTO_VALUE_ON_ZERO' /*!40101
UNIQUE_CHECKS=1 /*!40114
FOREIGN_KEY_CHECKS=0 /*!40114

[myloader_global_variables]
#sync_binlog = 0
#innodb_flush_log_at_trx_commit = 0



[myloader_session_variables_percona_5_8]
SQL_MODE='NO_AUTO_VALUE_ON_ZERO' /*!40101
UNIQUE_CHECKS=1 /*!40114
FOREIGN_KEY_CHECKS=0 /*!40114
