#############################################################################
#
# This is a sample configuration file for MyLoader
# Use it with --defaults-file or --defaults-extra-file
#
#############################################################################

[myloader]
host = 127.0.0.1
user = root
password = p455w0rd
database = new_db
optimize-keys = AFTER_IMPORT_PER_TABLE

# Aurora MySQL 5.7 and some AWS-managed engines reject SQL_LOG_BIN=0.
# Use this when restoring into Aurora instead of --enable-binlog. 
source-control-command = AWS
# NOTE: The function below only exists starting from Aurora version 2.12.0 or higher.
# This is not supported prior to Aurora 2.12.0 and using the call below will cause myloader to fail with an error
aws-session-command = CALL mysql.rds_disable_session_binlog()

[myloader_session_variables]
# Default session variables for restores
SQL_MODE='NO_AUTO_VALUE_ON_ZERO' /*!40101
UNIQUE_CHECKS=0 /*!40114
FOREIGN_KEY_CHECKS=0 /*!40114

[myloader_global_variables]
# Examples of global restore-time tuning
# sync_binlog = 0
# innodb_flush_log_at_trx_commit = 0
